.App {
  text-align: center;

  color: white;
}
h1{
  margin: 0;
}
.header{
  background-color: rgb(14, 4, 43);
  padding: 8px; 
}
.main{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 15px;
}
.movie{
  background-color: rgb(223, 198, 198);
  color: black;
  border: 1px solid gray;
  padding: 5px;
  font-weight: bold;
  text-align: start;
  width: 15%;
  margin-top: 10px;
}
.movie img{
  height: 200px;
  width: 100%;
}